<nav class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-dark bg-dark">
    <div class="container main-navbar">
        <!-- Logo -->
        <a class="navbar-brand mr-lg-5" href="/">
            <img alt="Image placeholder" src="https://www.pinclipart.com/picdir/middle/554-5541361_coming-soon-png-22-buy-clip-art-no.png" id="navbar-logo" style="height: 50px;">
        </a>
        <!-- Navbar collapse trigger -->
        <button class="navbar-toggler pr-0" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar nav -->
        <div class="collapse navbar-collapse" id="navbar-main-collapse">
            <ul class="navbar-nav align-items-lg-center">
                <li class="nav-item"><a class="nav-link">HOME</a></li>
                <li class="nav-item"><a class="nav-link">NEWS</a></li>
                <li class="nav-item"><a class="nav-link">BLOG</a></li>
            </ul>
            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                <li class="nav-item">
                    <a class="nav-link">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary nav-link rounded-pill"><i class="fa-solid fa-paper-plane"></i>Purchase now</a>
                </li>
            </ul>
        </div>
    </div>
</nav>