<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url(https://allcorp3-demo.ru/upload/iblock/44b/44bd5e80b0900a2d8938496ea60a1bfe.jpg)">
            <div class="d-flex align-items-center justify-content-center" style="height: 100vh;min-height: 800px;">
                <div class="d-flex justify-content-end align-items-center" style="width: 100%; height: 100%">
                    <div class="d-flex flex-column justify-content-center position-absolute" style="z-index: 100; left: 0;margin-left: 64px">
                        <div class="banners_top-text">маленикий текст</div>
                        <div class="banners_title">Подключаем и настраиваем POS-системы</div>
                        <div class="banners_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis id iste minus nihil quia sed ut velit voluptatum. Animi cumque dicta eos explicabo ipsum neque possimus quas rerum temporibus veritatis?</div>
                        <div>Кнопки</div>
                    </div>
                    <div class="position-absolute bottom-0" style="max-width: 50%">
                        <img src="https://allcorp3-demo.ru/upload/iblock/aae/aae6a1ddb99805052d6804cff0e26d6f.png" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>