{% load static %}

<div class="p-b-63">
    <a href="{{ item.get_absolute_url }}" class="hov-img0 how-pos5-parent">
        {% if item.photo %}
            <img src="{% get_media_prefix %}{{ item.photo }}" alt="IMG-BLOG">
        {% else %}
            <div class="p-tb-50" style="background: #f1f1f1"></div>
        {% endif %}
        <div class="flex-col-c-m size-123 bg9 how-pos5">
            <span class="ltext-107 cl2 txt-center">
                {{ item.updated_at|date:'d' }}
            </span>
            <span class="stext-109 cl3 txt-center">
                {{ item.updated_at|date:'M' }} {{ item.updated_at|date:'Y' }}
            </span>
        </div>
    </a>
    <div class="p-t-32">
        <h4 class="p-b-15">
            <a href="{{ item.get_absolute_url }}" class="ltext-108 cl2 hov-cl1 trans-04">
                {{ item.title }}
            </a>
        </h4>
        <p class="stext-117 cl6">
            {{ item.content|truncatechars:200 }}
        </p>
        <div class="flex-w flex-sb-m p-t-18">
            <span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
                <span>
                    <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
                    <span class="cl12 m-l-4 m-r-6">|</span>
                </span>
            </span>
            <a href="{{ item.get_absolute_url }}" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                Подробнее
                <i class="fa fa-long-arrow-right m-l-9"></i>
            </a>
        </div>
    </div>
</div>