<div class="flex-l-m flex-w w-full p-t-10 m-lr--7">
    {% if page_obj.has_previous %}
        <a href="?page=1" class="flex-c-m how-pagination1 trans-04 m-all-7"><<</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="flex-c-m how-pagination1 trans-04 m-all-7"><</a>
    {% endif %}

    <a class="flex-c-m how-pagination1 trans-04 m-all-7">
        {{ page_obj.number }}
    </a>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="flex-c-m how-pagination1 trans-04 m-all-7">></a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="flex-c-m how-pagination1 trans-04 m-all-7">>></a>
    {% endif %}
</div>