{% extends 'blog/base.html' %}

{% load static %}

{% block title %} {{ title_page }} {% endblock %}

{% block  title_page %}
    <section class="bg-img1 txt-center p-lr-15 p-tb-20">
		<h2 class="cl2 ltext-105">{{ title_page }}</h2>
	</section>
{% endblock %}

{% block container %}
    <div class="col-md-8 col-lg-9 p-b-80">
        <div class="p-r-45 p-r-0-lg">
            {% for item in page_obj %}
                <!-- item blog -->
                {% include 'news/inc/_item.html' %}
            {% empty %}
                Раздел пуст!
            {% endfor %}

            {% if page_obj and page_obj.paginator.num_pages > 1 %}
                <!-- Pagination -->
                {% include 'blog/inc/_pagination.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}